<% if @action == 'code' %>
To view any of the sample code, please click any of the links below!
<% end %>
<% if @action == "peggame_update" %>
  <%= erb(:'code/peggame_update') %>
<% end %>

<div class="divider"></div>

<div class="subleft">
  <ul>
    <li class="wk"><a href="/code/peggame_update" class=<%="#{@action == 'peggame_update' ? 'onpage':''}"%>>Peg Game Piece's Update</a></li>
    <li class="wk"><a href="/code/testtest3" class=<%="#{@action == 'testtest3' ? 'onpage':''}"%>>Test test 3</a></li>
  </ul>
</div>
<div class="subright">
  <ul>
    <li class="wk"><a href="/code/testtest" class=<%="#{@action == 'testtest' ? 'onpage':''}"%>>Test test</a></li>
	<li class="wk"><a href="/code/testtest4" class=<%="#{@action == 'testtest4' ? 'onpage':''}"%>>Test test 4</a></li>
  </ul>
</div>