<ul>
	<li><a href="/" class=<%="#{@action == 'index' ? 'onpage':''}"%>>Home</a></li>
	<li><a href="/about" class=<%="#{@action == 'about' ? 'onpage':''}"%>>About Me</a></li>
	<li><a href="/projects" class=<%="#{['projects', 'peg_game', 'polarity_shift', 'the_depths', '8bitironman'].include?(@action) ? 'onpage':''}"%>>Projects</a></li>
	<!--<li><a href="/code" class=<%="#{['code', 'peggame_update', 'polarityshift_animload', 'polarityshift_animupdate', 'depths_importer', 'depths_levelsystemload'].include?(@action) ? 'onpage':''}"%>>Code Samples</a></li>-->
	<li><a href="/contact" class=<%="#{['contact', 'email_me'].include?(@action) ? 'onpage':''}"%>>Contact</a></li>
</ul>