<ul>
	<li><a href="/" class=<%="#{@action == 'index' ? 'onpage':''}"%>>Home</a></li>
	<li><a href="/about" class=<%="#{@action == 'about' ? 'onpage':''}"%>>About Me</a></li>
	<li><a href="/projects" class=<%="#{@action == 'projects' || @action == 'peg_game' || @action == 'polarity_shift' || @action == 'the_depths' || @action == '8bitironman' ? 'onpage':''}"%>>Projects</a></li>
	<li><a href="/code" class=<%="#{@action == 'code' || @action == 'peggame_update' ? 'onpage':''}"%>>Code Samples</a></li>
	<li><a href="/contact" class=<%="#{@action == 'contact' ? 'onpage':''}"%>>Contact</a></li>
</ul>