<% if @action == 'projects' %>
Here's where you can look at the projects I've done over time. Please click the projects below and enjoy them!
<p>For what I did for the particular projects please visit the <a href="/contact"><b>Contact</b></a> page and view my Resume!</p>
<% end %>
<% if @action == "the_depths" %>
  <%= erb(:'projects/the_depths') %>
<% end %>
<% if @action == "polarity_shift" %>
  <%= erb(:'projects/polarity_shift') %>
<% end %>
<% if @action == "peg_game" %>
  <%= erb(:'projects/peg_game') %>
<% end %>
<% if @action == "8bitironman" %>
  <%= erb(:'projects/8bitironman') %>
<% end %>

<div class="divider"></div>

<div class="subleft">
  <ul>
    <li class="wk"><a href="/projects/peg_game" class=<%="#{@action == 'peg_game' ? 'onpage':''}"%>>Peg Game</a></li>
    <li class="wk"><a href="/projects/the_depths" class=<%="#{@action == 'the_depths' ? 'onpage':''}"%>>The Depths</a></li>
  </ul>
</div>
<div class="subright">
  <ul>
    <li class="wk"><a href="/projects/polarity_shift" class=<%="#{@action == 'polarity_shift' ? 'onpage':''}"%>>Polarity Shift</a></li>
	<li class="wk"><a href="/projects/8bitironman" class=<%="#{@action == '8bitironman' ? 'onpage':''}"%>>8Bit Iron Man</a></li>
  </ul>
</div>