%h1 Some Work I've Done
%hr{style: "margin-bottom: 40px;"}

.row.featurette
  .col-md-7
    %h2.featurette-heading= link_to "New Homes Guide", '#'
    %p.lead
      New Homes Guide, in print and on the web, is the Mid-Atlantic Region's only complete guide to every new home community (including Single Family Homes, Townhomes, and Condominiums). We have been helping new home shoppers find their dream homes for over three decades.
  .col-md-5
    .well{style: "margin-top: 50px; display: block;"}
      = link_to image_tag('New-Homes-Guide.png', width: 420), '#'
    
%hr.featurette-divider

.row.featurette
  .col-md-5.well{style: "margin-top:80px; display: block;"}
    = link_to image_tag('Apartment-Showcase.png', width: 450), '#'
  .col-md-7
    %h2.featurette-heading= link_to "Apartment Showcase", '#'
    %p.lead
      Apartment Showcase is a free apartment finder guide book distributed in the Washington DC Metro area. It is published each month by Greater Washington Publishing, LLC, an award-winning publication company dedicated to helping people find the lifestyle information they need. ApartmentShowcase.com is an enhanced online version of this popular apartment guide book. 
      
%hr.featurette-divider

.row.featurette
  .col-md-7
    %h2.featurette-heading= link_to "Creative Chatter", '/work/creative-chatter'
    %p.lead
      Creative Chatter maps needs in your community and matches them with available resources posted by the public. Creative Chatter: Needs. Resources.Solutions
  .col-md-5
    .well{style: "margin-top: 30px; display: block;"}
      = link_to image_tag('Creative-Chatter.png', width: 420), '/work/creative-chatter'
    
%hr.featurette-divider

.row.featurette
  .col-md-5.well{style: "margin-top:120px; display: block;"}
    = link_to image_tag('Agile-Estimator.png', width: 450), '/work/agile-estimator'
  .col-md-7
    %h2.featurette-heading= link_to "Agile Estimator", '/work/agile-estimator'
    %p.lead
      Agile Estimator is a cloud based IT project estimating tool. Most cloud project management tools lack project estimation capabilities. AE provides the estimating intelligence to position projects for success. AE saves time and money, increases efficiency, and drives profitability. AE is designed for individuals and teams in IT services, marketing agencies, and corporations.

%div{style: "margin-bottom: 70px;"}