%nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{href: root_path} Jared Hamby
    %ul.nav.navbar-nav
      %li{class: active_header_link(["home", "index"])}= link_to "Home", root_path
      %li{class: active_header_link(["home", "about"])}= link_to "About Me", about_path
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Work Samples
          %b.caret
        %ul.dropdown-menu
          %li.nav-header Web
          %li= link_to "Something", '#'
          %li= link_to "Something 2", '#'
          %li.divider{role: "presentation"}
          %li.nav-header Games
          %li= link_to "Something 3", '#'
      / %li= link_to "Work Samples", '#'
      %li= link_to "Contact Me", '#'